@model DoAnCN2021.Models.Course

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exam.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlImage)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.UrlImage)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
   
    <input type="button" value="Edit" onclick="location.href='@Url.Action("Edit", "Courses",new { id = Model.Id })'" />
    @Html.ActionLink("Back to List", "Index")
</p>
